{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "bugfixes": true
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-inferno", { "imports": true, "defineAllArguments": true }]
  ]
}
