{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "bugfixes": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "pragma": "createElement"
      }
    ]
  ],
  "plugins": []
}
